<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ7c7zvDemjQbksxMCEh4NZsz_D1DSOKE</string>
	<key>GCM_SENDER_ID</key>
	<string>517639880708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csacademy.app</string>
	<key>PROJECT_ID</key>
	<string>csa-academy-af886</string>
	<key>STORAGE_BUCKET</key>
	<string>csa-academy-af886.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517639880708:ios:74274cf5aa3ff892d93551</string>
</dict>
</plist>