<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>CSA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>csa_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-517639880708-ios-74274cf5aa3ff892d93551</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs Media access to play sound</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs Bluetooth access to link to printer</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs Bluetooth access to link to printer</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs Calendar access to remind you with your orders</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs Camera access to scan your orders</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your Contacts to send order information</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app needs to access your Face ID to unlock app</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to your Location to find the nearest branche to you</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to your Location to find the nearest branche to you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your Location to find the nearest branche to you</string>
	<key>NSMotionUsageDescription</key>
	<string>we need to get a motion</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs to access to your Photo Library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs to access to your Photo Library</string>
	<key>NSRemindersUsageDescription</key>
	<string>This app needs Calendar access to remind you with your orders</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs to access to your Speech Recognition</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
